@font-face {
  font-family: arialBlack;
  src: url(./assets/fonts/Arial-Black/ariblk.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppinsBold;
  src: url(./assets//fonts/Poppins/Poppins-SemiBold.ttf);
}

*{
  font-family: poppins;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --noirbe : rgb(29, 29, 29);
  --white : #edf1f4;
  --whiteTransp : #969696;
  --whiteBe : rgb(248, 247, 247);
  --whiteNav :  #8ac2ec;
  --Them : #eb6258;
  --ThemClaire : #f87269;
  --ThemDur : #E42417;
  --grayTransp : #3f3d5541;

  /* dark Mode */

  --bodyColor : rgba(51, 51, 51, 0.966);
}

body{
  background-color: var(--white);
}