@font-face {
  font-family: arialBlack;
  src: url(./assets/fonts/Arial-Black/ariblk.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

*{
  font-family: poppins;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --noirbe : rgb(56, 56, 56);
  --white : #edf1f4;
  --whiteBe : rgb(248, 247, 247);
  --blueThem : #0099B9;
  --blueThemClaire : #00b3d6;
  --blueThemDur : #024F5F;
  --grayTransp : #3f3d551a;
  --orange : #ff6161;
}