@font-face {
  font-family: arialBlack;
  src: url(./assets/fonts/Arial-Black/ariblk.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

*{
  font-family: poppins;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}